doctype html
html
  head
    title= 'calendar'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://kit.fontawesome.com/ad119375da.js', crossorigin='anonymous')
  body
    block content
